@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.janela-modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
    text-align: justify;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
}

.janela-modal.abrir {
    display: flex;
}

.janela-modal.abrir > .carrinho-comp {
    animation: abrirmodal .4s ease-out;
}

.carrinho-comp {
    border-radius: 15px;
    width: 40%;
    min-width: 600px;
    max-height: 90vh;
    background-color: #fff;
    padding: 0 30px;
    float: right;
    overflow: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    position: relative;
}

.carrinho-comp::-webkit-scrollbar {
    width: 10px;
}

h2.car {
    border-bottom: 2px solid #b8b8b88c;
    padding-top: 30px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.prod {
    border-bottom: 2px solid #b8b8b88c;
    padding: 20px 0;
    margin-bottom: 20px;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
}

.prod .btn-remove {
    position: absolute;
    top: 0px;
    right: 5px;
    background-color: #ee1233;
    padding: 10px;
    border: 1px  solid #ee1233;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.08rem;
    transition: .6s;
}

.prod .btn-remove > i {
    display: flex;
    align-items: center;
    place-items: center;
}

.prod .btn-remove:hover {
    background-color: #fff;
    color: #ee1233;
}

.aparencia-prod {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-prod-car {
    width: 120px;
    margin-bottom: 10px;
}

h3.nome-prod {
    margin-bottom: 5px;
    text-align: center;
}

p.desc-car {
    text-align: justify;
    color: #666;
    margin-top: 5px;
    font-size: 14px;
    margin-bottom: 5px;
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100px;
}

.finalizar-comp {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 30px;
    position: absolute;
    position: sticky;
    background-color: #fff;
    bottom: 0;
}

.finalizar-comp button {
    margin-left: 0;
    border: none;
    background-color: #423acf;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    transition: 0.6s;
    width: 100%;
    margin-top: 10px;
}

.finalizar-comp button:hover {
    color: #423acf;
    border: 1px solid #423acf;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

@keyframes abrirmodal {
    from {
        opacity: 0;
        transform: translate3d(0, -50%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}


