@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family= Inter:wght@100;200;300;400;500;600;700;800;900 & display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center ;
    background-color: #EDE9D8;;
}
.container {
    width: 87%;
    height: 85vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.637) ;
    border-radius: 7px;
}
.erro-img {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-image: linear-gradient(to bottom, #80ffd4a9, #80ffd4a9, #80ffd4a9, #339473a9);
    
}
.erro-img  img {
    width: 23rem;
    
}
.texto {
    background-color: azure;
    color: #423acf;
    width: 40%;
    display: flex;
    flex-direction: column;
    flex-direction: column;
    padding: 3rem;
    
}

.texto h1 {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 3rem;
}
.texto h1::after {
    content: '';
    display: block;
    width: 30%;
    height: 0.3rem;
    background-color: #423acf;
    margin: 10px 0 0 0;
    position: absolute;
    border-radius: 10px;
}

.texto p {
    margin-left: 2rem;
    margin-bottom: 15px;
    text-align: justify;
    font-weight: bolder;
    font-size: 21px;
}
.texto h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 4rem;
}

.texto button {
    position: absolute;
    top: 80%;
    border: none;
    background-color: #0000ce;
    padding: 0.4rem 1rem;
    border-radius: 20px;
    cursor: pointer;
    color: azure;
    font-weight: bolder;
    font-size: 16px;
}
.texto button:hover {
    border: 3px solid #0000ce;
    color: #0000ce;
    background-color: rgba(255, 255, 255, 0);
}