@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.filtrar {
    width: 100%;
}

.filtrar .filtro {
    border: none;
    width: 150px;
    height: 40px;
    background-color: #0000ce;
    border-radius: 20px;
    color: #fff;
    font-size: large;
    cursor: pointer;
    transition: .8s;
}

.filtro:hover {
    background-color: #fff;
    border: 1px solid #0000ce;
    color: #0000ce;
}

/* Editando os produtos */
.prod {
    width: 1050px;
    max-width: 1100px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.produto {
    width: 270px;
    min-height: 450px;
    border: 1px solid rgba(131, 131, 131, 0.432);
    border-radius: 10px;
    margin: 20px;
    box-shadow: 5px 7px 10px #2c2c2c33;
}

.img {
    width: 100%;
    height: 220px;
}

.img img {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
}

.conteudo {
    margin: 5px 5px 0 5px;
}

.saibamais {
    border: none;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 5px;
    transition: .8s;
}

.saibamais:hover {
    background-color: rgba(131, 131, 131, 0.212);
}

.saibamais i {
    width: 100%;
    height: 100%;
    font-size: 2em;
    display: grid;
    place-items: center;
}

h3.nome {
    font-size: 1.37em;
}

p.descricao {
    margin: 7px 0 7px 0;
    height: 80px;
    text-align: justify;
    overflow: hidden;
}

p.preco {
    font-size: 1.2em;
    font-weight: bold;
    color: #0000ce;
    text-align: end;
}

.addCarrinho {
    width: 70%;
    margin: auto;
    padding-top: 10px;
    display: grid;
    place-items: center;
    position: relative;
    bottom: 5px;
}

.addCarrinho button {
    width: 100%;
    border: 1px solid #2f00ff;
    cursor: pointer;
    height: 40px;
    border-radius: 10px;
    background-color: #2f00ff;
    color: #fff;
    font-weight: bolder;
    transition: .8s;
}

.addCarrinho button:hover {
    background-color: #fff;
    color: #2f00ff;
}

.paginas {
    width: 100%;
    display: grid;
    place-items: center;
    margin-top: 30px;
}

.paginas .opc {
    display: flex;
}

.paginas .opc a {
    padding: 10px 20px;
    margin: 0 10px;
    text-decoration: none;
    border: 1px solid #2f00ff;
    border-radius: 10px;
    background-color: #2f00ff;
    color: #fff;
    font-weight: bolder;
    transition: .8s;
}

.paginas .opc a:hover {
    background-color: #fff;
    border: 1px solid #0000ce;
    color: #0000ce;
}

.paginas .opc p {
    font-size: 1.3em;
    margin: 8px;
}