#saiba-mais {
    width: 100%;
    height: 100vh;
    background-color: rgba(107, 107, 107, 0.274);
    backdrop-filter: blur(3px);
    position: absolute;
    position: fixed;
    z-index: 999;
    display: none;
    place-items: center;
}

#saiba-mais.abrir {
    display: grid;
}

#saiba-mais .itens {
    width: 900px;
    height: 400px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    position: relative;
}

#saiba-mais .itens .img {
    min-width: 400px;
    min-height: 100%;
    border-radius: 20px 0 0 20px;
}

#saiba-mais .itens .img img {
    width: 100%;
    height: 100%;
    border-radius: 20px 0 0 20px;
}

#saiba-mais .itens .produ {
    min-width: calc(100% - 400px);
    min-height: 100%;
    border-radius: 0 20px 20px 0;
    padding: 20px;
    position: relative;
}

#saiba-mais .itens .produ h2.nome {
    color: #800080;
    text-align: center;
    margin-bottom: 10px;
    text-transform: capitalize;
}

#saiba-mais .itens .produ p.descricao {
    text-align: justify;
    text-indent: 3rem;
    margin-top: 20px;
}

#saiba-mais .itens .produ p.preco {
    color: #800080;
    position: absolute;
    font-size: 1.6rem;
    font-weight: 500;
    bottom: 30px;
    left: 18px;
}

.btn-add-car {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background-color: #2f00ff;
    border: 1px solid #2f00ff;
    color: #fff;
    font-size: 2rem;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: .8s;
}

.btn-add-car:hover {
    color: #2f00ff;
    background-color: #fff;
}

.btn-add-car i {
    display: grid;
    align-items: center;
}
