.container h1 {
    font-size: 32px;
    color: var(--cor_texto_2); 
    margin-bottom: 50px; 
  }

.container h2 {
    font-size: 24px;
    margin-bottom: 30px;
    color: var(--cor_texto_2); 
}

.container p {
    color: #000;
    font-size: 18px;
    text-indent: 40px;
    margin-bottom: 20px;
    text-align: justify;
}