@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    list-style: none;
    text-decoration: none;
}

:root {
    --cor_fundo1: #0000ce;
    --cor_fundo2: #000041;
    --cor_texto: #030216;
    --cor_menu: #fff;
    --cor_texto_2: #1d134b;
    --cor_botao: #2f00ff;
    --cor_botao_fundo: #423acf;
    --sombra_colorida: #6963e7;
    --padrao: 0px 8px 40px #00000046;
}

body,
html {
    color: var(--cor_texto);
    background-color: var(--sombra_colorida);
    min-height: 100vh;
    /* Altura mínima da tela inteira */
    display: flex;
    flex-direction: column;
}

header {
    height: 45px;
    margin-bottom: 25px;
    z-index: 100;
}

.navegador {
    display: flex;
    align-items: center;
    padding: 10px 40px;
    box-shadow: 0 0.1rem 0.5rem #ccc;
    width: 100%;
    background-color: var(--cor_menu);
    transition: all 0.5s;
    position: fixed;
}


.navegador .titulo {
    color: #0000ce;
    font-size: 1.7rem;
    font-weight: 600;
    margin-right: 315px;
}

.box-search {
    display: flex;
    flex: 1;
    left: 10px;
}

.form-control {
    border: 1px solid var(--cor_botao);
    border-radius: 5px 0 0 5px;
    width: 300px;
    padding: 10px;
}

.btn {
    background-color: var(--cor_botao);
    border: none;
    padding: 3px;
    margin-right: 10px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

#btn-pesquisar {
    color: var(--cor_texto);
    font-size: 25px;
}

#tipo {
    border: none;
}

.botaoEC {
    border: none;
    background-color: #423acf;
    padding: .4rem .7rem;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.info-carrinho {
    display: flex;
}

.quant-preco {
    display: block;
}

.carrinho {
    border: none;
    background-color: var(--cor_menu);
    padding: 3px;
    cursor: pointer;
    border-radius: 5px;
    transition: .8s;
    margin-left: 10px;
}

.carrinho .info-carrinho span {
    color: var(--cor_botao);
    font-size: 2.8em;
    transition: .8s;
}

.carrinho .info-carrinho .span-carrinho {
    font-size: 1em;
}

.carrinho:hover {
    background-color: #ebebeb;
}

.carrinho:hover .info-carrinho > span {
    font-size: 2.9em;
}

.bb-expandir {
    width: 40px;
    height: 40px;
    border: 3px solid #fff;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.material-symbols-outlined {
    color: #fff;
    font-size: 24px;
}


.botaoEC:hover {
    color: #423acf;
    border: 2px solid #423acf;
    background-color: #fff;
    transition: .6s;
    margin-right: 5px;
    box-shadow: 0px 0px 10px #0000006b;
}

.botaoEC:hover span {
    color: var(--cor_botao);
}

.usuario {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 3px;
    transition: .8s;
    border-radius: 5px;
}

.usuario span {
    color: var(--cor_botao);
    font-size: 2.8em;
    transition: .8s;
}

.usuario:hover {
    background-color: #ebebeb;
}

.usuario:hover span {
    font-size: 2.9em;
}

/*-------------------------------*/

input:focus-visible {
    outline: 0px;
}

main {
    flex: 1;
    min-height: 300px;
    width: 1050px;
    max-width: 1100px;
    margin: auto;
    background-color: white;
    padding: 20px;
    margin-top: 0px;
    box-shadow: 0px 0px 10px #0000006b;
}

.container {
    max-width: 1050px;
    margin: 0 auto;
    padding: 10px 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.Vermelho1,
.Amarelo1,
.Amarelo2,
.Amarelo3,
.Vermelho2,
.Vermelho3 {
    margin: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.363);
    background-position: center center;
}

.cinza {
    display: block;
    height: 400px;
    width: 1000px;
    margin-bottom: 20px;
    background-color: grey;
    overflow: hidden;
    z-index: 0;
}

.slides {
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img {
    width: 1000px;
}

.manual-navigation {
    position: absolute;
    width: 1000px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #ffffff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #ffffff;
}

#radio1:checked~.primeiro {
    margin-left: 0;
}

#radio2:checked~.primeiro {
    margin-left: -25%;
}

#radio3:checked~.primeiro {
    margin-left: -50%;
}

.navigation-auto div {
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
}

.navigation-auto {
    position: absolute;
    width: 1000px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background-color: #ffffff;
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background-color: #ffffff;
}

#radio3:checked~.navigation-auto .auto-btn3 {
    background-color: #ffffff;
}

.auto-complete {
    display: none;
    position: fixed;
    top: 58px;
    width: 300px;
    max-height: 200px;
    background-color: white;
    border: 1px solid #000;
    border-radius: 3px;
    padding: 2px;
    overflow: scroll;
    overflow-x: hidden;
}

.auto-complete::-webkit-scrollbar {
    width: 5px;
}

.auto-complete::-webkit-scrollbar-thumb {
    background-color: var(--cor_texto_2);
}

.auto-complete ul li {
    cursor: pointer;
    margin: 2px;
    font-size: 15px;
    transition: .8s;
}

.auto-complete ul li:hover {
    color: var(--cor_botao);
    font-weight: bold;
    border-bottom: 1px solid #8b8b8b34;
    border-top: 1px solid #8b8b8b34;
}

.link-pesq {
    text-decoration: none;
    color: var(--cor_texto);
}

.auto-complete #notfound {
    cursor: pointer;
    margin: 2px;
    font-size: 15px;
    transition: .8s;
}













.Vermelho1,
.Vermelho2,
.Vermelho3 {
    display: inline-block;
    height: 300px;
    width: 300px;
    margin-bottom: 20px;
}

.Amarelo1,
.Amarelo2,
.Amarelo3 {
    display: inline-block;
    height: 300px;
    width: 600px;
    margin-bottom: 20px;
}

/*DEPOIS EU AJEITO KSKSKSKSKSKKSKSKSKS*/

.bb-expandir {
    margin: 10px;
}

.expandir {
    display: block;
    width: 700px;
    height: 500px;
}

footer {
    background-color: var(--cor_texto);
    color: azure;
    padding: 20px 0;
    margin-top: auto;
    /* Cola o footer na parte inferior da página */
}

.rodape {
    width: 100%;
    display: flex;
    justify-content: center;
    /* Centraliza os elementos horizontalmente */
    flex-wrap: wrap;
    /* Quebra em várias linhas caso não caiba em uma única linha */
}

.rodape>.boxs {
    color: azure;
    width: 320px;
    min-height: 150px;
    padding: 20px;
}

.boxs>ul>li {
    list-style: none;
}

.boxs>ul>li>a {
    text-decoration: none;
    color: azure;
    transition: .25s;
}

.boxs>ul>li>a:hover {
    font-weight: bold;
    color: #80ffd4a9;
    cursor: pointer;
    font-size: 120%;
}

.boxs>ul>li>.btn-redes {
    border: none;
    background-color: var(--cor_texto);
    color: azure;
    font-size: 1.08em;
    transition: .25s;
}

.boxs>ul>li>.btn-redes:hover {
    font-weight: bold;
    color: #80ffd4a9;
    cursor: pointer;
    font-size: 120%;
}

.icon-redes {
    width: 100px;
    color: white;
}

footer>.copy {
    background-color: var(--cor_texto);
    color: var(--cor_fundo1);
    text-align: center;
}